.img-section {
    width: 85px;
    height: 85px;
    object-fit: cover;
}

.img-dish {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
}

.img-children {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.img-allergens {
    width: 30px;
}

/*styles login*/

.card{
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.title-login span{
    font-size: 60px;
    margin-left: 10px;
    color: hotpink;
}

.title-login span:hover{
    color: cornflowerblue;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.title-login{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: cornflowerblue;
    color: black;
    border:0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: hotpink;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

svg {
    font-weight:bold;
    max-width:600px;
    height:auto;
}